<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LunchPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8322C451C4BD588004EE01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8322C5C1C4BD588004EE01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8322C671C4BD588004EE01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
